body { background-color: #DDDDDD; font: 30px sans-serif; }
body,html {
    font-family: VAGRounded, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

canvas {
    vertical-align: top;
    display: block;
    overflow: auto;
	margin:0 auto;
	/*border:solid 1px #000;*/
}
p {
	margin:0 auto;
	text-align:center;
}
